src/components/Toolbar/blueprint.json
{
    "name": "Portfolio Review (Stripe > Mailchimp)",
    "flow": [
        {
            "id": 1,
            "module": "stripe:watchEvents",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 469126
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 29,
                    "y": -25
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Stripe to Mailchimp"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:stripe2",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "event_type",
                        "type": "text",
                        "label": "Event Type"
                    },
                    {
                        "name": "event_id",
                        "type": "text",
                        "label": "Event ID"
                    },
                    {
                        "name": "object",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Payment Intent ID"
                            },
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "amount",
                                "type": "number",
                                "label": "Amount"
                            },
                            {
                                "name": "amount_capturable",
                                "type": "number",
                                "label": "Amount Capturable"
                            },
                            {
                                "name": "amount_received",
                                "type": "number",
                                "label": "Amount Received"
                            },
                            {
                                "name": "application",
                                "type": "text",
                                "label": "Application"
                            },
                            {
                                "name": "application_fee_amount",
                                "type": "number",
                                "label": "Application Fee Amount"
                            },
                            {
                                "name": "canceled_at",
                                "type": "date",
                                "label": "Canceled At"
                            },
                            {
                                "name": "cancellation_reason",
                                "type": "text",
                                "label": "Cancellation Reason"
                            },
                            {
                                "name": "capture_method",
                                "type": "text",
                                "label": "Capture Method"
                            },
                            {
                                "name": "charges",
                                "spec": [
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "data",
                                        "type": "array",
                                        "label": "Data"
                                    },
                                    {
                                        "name": "has_more",
                                        "type": "boolean",
                                        "label": "Has More"
                                    },
                                    {
                                        "name": "total_count",
                                        "type": "number",
                                        "label": "Total Count"
                                    },
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Charges"
                            },
                            {
                                "name": "client_secret",
                                "type": "text",
                                "label": "Client Secret"
                            },
                            {
                                "name": "confirmation_method",
                                "type": "text",
                                "label": "Confirmation Method"
                            },
                            {
                                "name": "created",
                                "type": "date",
                                "label": "Created"
                            },
                            {
                                "name": "currency",
                                "type": "text",
                                "label": "Currency"
                            },
                            {
                                "name": "customer",
                                "type": "text",
                                "label": "Customer"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "invoice",
                                "type": "text",
                                "label": "Invoice"
                            },
                            {
                                "name": "last_payment_error",
                                "type": "text",
                                "label": "Last Payment Error"
                            },
                            {
                                "name": "livemode",
                                "type": "boolean",
                                "label": "Livemode"
                            },
                            {
                                "name": "metadata",
                                "type": "any",
                                "label": "Metadata"
                            },
                            {
                                "name": "next_action",
                                "type": "text",
                                "label": "Next Action"
                            },
                            {
                                "name": "on_behalf_of",
                                "type": "text",
                                "label": "On Behalf Of"
                            },
                            {
                                "name": "payment_method",
                                "type": "text",
                                "label": "Payment Method"
                            },
                            {
                                "name": "payment_method_options",
                                "type": "any",
                                "label": "Payment Method Options"
                            },
                            {
                                "name": "payment_method_types",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Payment Method Types"
                            },
                            {
                                "name": "receipt_email",
                                "type": "text",
                                "label": "Receipt Email"
                            },
                            {
                                "name": "review",
                                "type": "text",
                                "label": "Review"
                            },
                            {
                                "name": "setup_future_usage",
                                "type": "text",
                                "label": "Setup Future Usage"
                            },
                            {
                                "name": "shipping",
                                "spec": [
                                    {
                                        "name": "address",
                                        "spec": [
                                            {
                                                "name": "city",
                                                "type": "text",
                                                "label": "City"
                                            },
                                            {
                                                "name": "country",
                                                "type": "text",
                                                "label": "Country"
                                            },
                                            {
                                                "name": "line1",
                                                "type": "text",
                                                "label": "Line 1"
                                            },
                                            {
                                                "name": "line2",
                                                "type": "text",
                                                "label": "Line 2"
                                            },
                                            {
                                                "name": "postal_code",
                                                "type": "text",
                                                "label": "Postal Code"
                                            },
                                            {
                                                "name": "state",
                                                "type": "text",
                                                "label": "State"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Address"
                                    },
                                    {
                                        "name": "carrier",
                                        "type": "text",
                                        "label": "Carrier"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "tracking_number",
                                        "type": "text",
                                        "label": "Tracking Number"
                                    }
                                ],
                                "type": "collection",
                                "label": "Shipping"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "statement_descriptor",
                                "type": "text",
                                "label": "Statement Descriptor"
                            },
                            {
                                "name": "statement_descriptor_suffix",
                                "type": "text",
                                "label": "Statement Descriptor Suffix"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "transfer_data",
                                "spec": [
                                    {
                                        "name": "destination",
                                        "type": "text",
                                        "label": "Destination"
                                    },
                                    {
                                        "name": "amount",
                                        "type": "text",
                                        "label": "Amount"
                                    }
                                ],
                                "type": "collection",
                                "label": "Transfer Data"
                            },
                            {
                                "name": "transfer_group",
                                "type": "text",
                                "label": "Transfer Group"
                            }
                        ],
                        "type": "collection",
                        "label": "Object"
                    },
                    {
                        "name": "raw",
                        "spec": [],
                        "type": "collection",
                        "label": "Raw Webhook Data"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "mailchimp:addUpdateASubscriber",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 920850
            },
            "filter": {
                "name": "Is greater than £249",
                "conditions": [
                    [
                        {
                            "a": "{{1.object.amount}}",
                            "b": "24900",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "list": "7ccefab868",
                "tags": [
                    {
                        "name": "Portfolio Review",
                        "status": "active"
                    }
                ],
                "select": "list",
                "status": "subscribed",
                "language": "en",
                "interests": {},
                "email_type": "html",
                "merge_fields": {
                    "MMERGE1": "{{1.raw.data.object.charges.data[].billing_details.name}}"
                },
                "email_address": "{{1.raw.data.object.charges.data[].billing_details.email}}",
                "createOrUpdate": true
            },
            "metadata": {
                "designer": {
                    "x": 392,
                    "y": -65
                },
                "restore": {
                    "expect": {
                        "vip": {
                            "mode": "chose"
                        },
                        "list": {
                            "label": "The Makeup Monster"
                        },
                        "tags": {
                            "mode": "chose",
                            "items": [
                                {
                                    "status": {
                                        "mode": "chose",
                                        "label": "Active (To add a tag)"
                                    }
                                }
                            ]
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "status": {
                            "mode": "chose",
                            "label": "Subscribed"
                        },
                        "language": {
                            "mode": "chose",
                            "label": "English"
                        },
                        "email_type": {
                            "mode": "chose",
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "mailchimp"
                            },
                            "label": "My MailChimp connection (mona@themakeupmonster.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:mailchimp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a List ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "email_address",
                        "type": "email",
                        "label": "Email Address",
                        "required": true
                    },
                    {
                        "name": "createOrUpdate",
                        "type": "boolean",
                        "label": "Create a new customer or update an existing one",
                        "required": true
                    },
                    {
                        "name": "status",
                        "type": "select",
                        "label": "Status",
                        "validate": {
                            "enum": [
                                "subscribed",
                                "unsubscribed",
                                "cleaned",
                                "pending",
                                "transactional"
                            ]
                        }
                    },
                    {
                        "name": "vip",
                        "type": "boolean",
                        "label": "VIP"
                    },
                    {
                        "name": "email_type",
                        "type": "select",
                        "label": "Email Type",
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "language",
                        "type": "select",
                        "label": "Language Code",
                        "validate": {
                            "enum": [
                                "en",
                                "ar",
                                "af",
                                "be",
                                "bg",
                                "ca",
                                "zh",
                                "hr",
                                "cs",
                                "da",
                                "nl",
                                "et",
                                "fa",
                                "fi",
                                "fr",
                                "fr_CA",
                                "de",
                                "el",
                                "he",
                                "hi",
                                "hu",
                                "is",
                                "id",
                                "ga",
                                "it",
                                "ja",
                                "km",
                                "ko",
                                "lv",
                                "lt",
                                "mt",
                                "ms",
                                "mk",
                                "no",
                                "pl",
                                "pt",
                                "pt_PT",
                                "ro",
                                "ru",
                                "sr",
                                "sk",
                                "sl",
                                "es",
                                "es_ES",
                                "sw",
                                "sv",
                                "ta",
                                "th",
                                "tr",
                                "uk",
                                "vi"
                            ]
                        }
                    },
                    {
                        "name": "tags",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Names",
                                "required": true
                            },
                            {
                                "name": "status",
                                "type": "select",
                                "label": "Status",
                                "options": [
                                    {
                                        "label": "Active (To add a tag)",
                                        "value": "active",
                                        "default": true
                                    },
                                    {
                                        "label": "Inactive (To remove a tag)",
                                        "value": "inactive"
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "note",
                        "type": "text",
                        "label": "Note"
                    },
                    {
                        "name": "list",
                        "type": "select",
                        "label": "List ID",
                        "required": true
                    },
                    {
                        "name": "merge_fields",
                        "spec": [
                            {
                                "name": "MMERGE1",
                                "type": "text",
                                "label": "First Name",
                                "metadata": {
                                    "order": 2
                                }
                            },
                            {
                                "name": "MMERGE2",
                                "type": "text",
                                "label": "Last Name",
                                "metadata": {
                                    "order": 3
                                }
                            },
                            {
                                "name": "MMERGE3",
                                "type": "text",
                                "label": "Member ID",
                                "metadata": {
                                    "order": 4
                                }
                            },
                            {
                                "name": "MMERGE4",
                                "type": "text",
                                "label": "Membership Type",
                                "metadata": {
                                    "order": 5
                                }
                            },
                            {
                                "name": "MMERGE5",
                                "type": "date",
                                "label": "Renewal Date",
                                "metadata": {
                                    "order": 6,
                                    "format": "MM/DD/YYYY"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "List Fields"
                    },
                    {
                        "name": "interests",
                        "spec": [],
                        "type": "collection",
                        "label": "Groups"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 922046,
                "saveAfterSent": false
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{1.object.status}}",
                            "b": "succeeded",
                            "o": "text:contain:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "cc": [],
                "to": [
                    "mona@themakeupmonster.com"
                ],
                "bcc": [],
                "from": "",
                "text": "Hello Mona!\n\nYou have a new customer requiring your portfolio review expertise. \n\nStay groovayy! ",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🛎 Portfolio Review 🛎",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "text"
            },
            "metadata": {
                "designer": {
                    "x": 692,
                    "y": -65
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "Plaintext"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "undefined",
                                "connection": "undefined"
                            },
                            "label": "Makeupmonster Gmail"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}